---
import Layout from "../layouts/Layout.astro";
import FeaturedV2 from "../components/FeaturedV2.astro";
---

<Layout>
	<h3>NFT Showcase</h3>
	<FeaturedV2/>
</Layout>

<style>
	h3 {
		text-transform: uppercase;
		text-align: center;
		border: 1px solid #333;
		color: var(--color-text-primary);
		background-color: var(--color-bg-primary);
		padding: 0.75rem 0;
	}
</style>
