---
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <main class='main'>
        <section>
            <article>
                <div class="container">
                    <ul>
                        <li></li>
                        <li><h3>Combine art and functionality</h3></li>
                    </ul>
                </div>
            </article>  
        </section>
    </main>
</Layout>

<style>
    .main {
        background-color: var(--color-bg-primary);
        color: rgb(24, 5, 5);
        /* outline: 3px solid green; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main .container ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .main .container ul li {
        width: 500px;
        outline: 1px solid #333;
    }
    .main .container ul li:nth-child(1)::before{
        content: url('../components/images/hero.png');
    }
    .main .container ul li h3 {
        font-size: xx-large;
        font-family: 'Baskerville BT', sans-serif;
        color:aliceblue;
        text-shadow: 0 0 3px #333;
        text-transform: capitalize;
    }
</style>