---
import logo from './images/logo.png'
---
<header class="header">
    <div class="container">
        <div class="logo">
            <a href="index.html">
                <img src={logo} alt="logo" />
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="/marketplace">Marketplace</a></li>
                <li><a href="/wallet.html">Wallet</a></li>
                <li><a href="/litepaper.html">Lightpaper</a></li>
            </ul>
        </nav>
    </div>
</header>

<style>
    .header {
        height: 70px;
        /* background: var(--color-primary); */
        position: relative;
        overflow: hidden;
    }
    .header::before {
        content: "";
        background-image: linear-gradient(#da4898,#4d70da);
        display: block;
        position: absolute;
        top: -400px;
        right: -40px;
        width: 100%;
        height: 1000px;
        z-index: -1;
        rotate: -30deg;
    }

    .header .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
    }

    .header img {
        height: 35px;
        vertical-align: middle;
    }

    .header nav ul {
        display: flex;
    }

    .header nav ul li {
        padding: 0 10px;
    }

    .header nav ul li a {
        color: #fff;
    }
</style>
