---

---
    <div class="sidebar">
        <div class="list"><span>Status<i class="fa-solid fa-angle-right"></i></span>
            <ul>
                <li class='option-status'>Alive</li>
                <li class='option-status'>Dead</li>
                <li class='option-status'>Unknown</li>
            </ul>
        </div>
        <div class="list"><span>Status<i class="fa-solid fa-angle-right"></i></span>
            <ul>
                <li>Alive</li>
                <li>Dead</li>
                <li>Unknown</li>
                <li>Alive</li>
                <li>Dead</li>
                <li>Unknown</li>
            </ul>
        </div>
    </div>

<style>
    .sidebar {
        background-color: var(--color-bg-primary);
        border-right: 1px solid #333;
        width: 200px;
    }
    .sidebar .list {
        text-transform: uppercase;
        border-bottom: 1px solid #333;
        max-height: 30px; /*max-height makes the slow animation possible */ 
        line-height: 30px;
        overflow: hidden;
        transition: 0.5s ease-out;
    }
    .sidebar .list.activate {
        color: var(--color-text-primary);
        max-height: 300px;
    }
    .sidebar .list span {
        padding-left: 10px;
        background-color: aquamarine;
        display: inline-block; 
        width: 100%;
        position: relative;
    }
    .sidebar .list ul li {
        padding-left: 20px;
        background-color: #fff;
    }
    .sidebar .list ul li:hover {
        background-color: var(--color-text-primary);
        color: #fff;
    }
    .sidebar .list i {
        position: absolute;
        right: 15px;
        top: 20%;
        transform: translateY(-50%);
        transform: rotate(90deg);
        margin: auto;
        display: inline-block;
        transition: 0.5s ease-in-out;
    }
    .sidebar .list.activate i{
        transform: rotate(270deg);
    }
</style>

<script>
   const list = document.querySelectorAll('.sidebar .list')
   const span = document.querySelectorAll('.sidebar .list span')
    span.forEach((element, index)=>{
        element.addEventListener('click',()=>{list[index].classList.toggle('activate')})
    })

    const option_status = document.querySelectorAll('.option-status')
    option_status.forEach(element=>{
        element.addEventListener('click',(e)=>{filterFunction(e)})
    })
    // const data = {'hello': 'world'}
    function filterFunction(e) {
        e.target.classList.toggle('selected')
        const selected = e.target.innerText
        // check local stoge for this element
        let filterData = JSON.parse(localStorage.getItem('data'))

        if(filterData === null)
            filterData = {}

        let filterDataStatus = filterData.status ? filterData.status : []
        
        if(filterDataStatus.includes(selected)){
            filterDataStatus = filterDataStatus.filter(data=>(data !== selected))
        }
        else {
            filterDataStatus.push(selected)
        }
        filterData.status = filterDataStatus
        localStorage.setItem('data',JSON.stringify(filterData))
        console.log(filterData.status)
    }
</script>