---
export interface Props {
	sidebarVar?: Array<string>;
}
const {sidebarVar = ['Status','Spicies','Gender','Origin','Birth']} = Astro.props as Props; //Default value
---

    <ul class='filter'>
        <li class='sortList list1'><div class='title'>Status<div class='reveal'><button>Alive</button><button>Dead</button><button>Unknown</button></div></div><span><i class="fa-solid fa-chevron-down"></i></span></li>
        <li class='sortList list2'><div class='title'>Spicies<div class='reveal'><button>Alive</button><button>Dead</button><button>Unknown</button></div></div><span><i class="fa-solid fa-chevron-down"></i></span></li>
        <li class='sortList list3'><div class='title'>Gender<div class='reveal'><button>Alive</button><button>Dead</button><button>Unknown</button></div></div><span><i class="fa-solid fa-chevron-down"></i></span></li>
        <li class='sortList list4'><div class='title'>Origin<div class='reveal'><button>Alive</button><button>Dead</button><button>Unknown</button></div></div><span><i class="fa-solid fa-chevron-down"></i></span></li>
        <li class='sortList list5'><div class='title'>Birth<div class='reveal'><button>Alive</button><button>Dead</button><button>Unknown</button></div></div><span><i class="fa-solid fa-chevron-down"></i></span></li>
    </ul>

<style>
    .filter {
        width: 250px;
        background-color: var(--color-bg-primary);
        border-right: 1px solid #333;
    }
    .sortList {
    background-color:bisque;
    padding: 0.25rem 0;
    padding-left: 1rem;
    color: var(--color-text-primary);
    border-bottom: 1px solid #333;
    display: flex;
    }
    .sortList .title {
        margin-right: auto;
    }
    .sortList span {
        padding-right: 10px;
    }
    .sortList .title {
        transition: transform 0.3s ease-in;
    }
    /* .sortList:hover .title {
        transform: translate(10px);
    } */
    .title {
        position: relative;
    }
    .title .reveal{
        width: 100%;
        border-radius: 8px;
        /* display: none; */
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
    }
    .sortList:hover .reveal {
        animation-name: reveal;
    } 
    @keyframes reveal {
        100% {
            height: 80px;
            display: block;
        }
    }
    @media (width < 768px){
        .filter {
            display: none;
        }
    }
</style>

<script>
    const dropdown1 = document.querySelector('.list1')
    const enableDropDown1 = () =>{
        dropdown1.firstChild.classList.toggle('visible')
    }
    dropdown1.addEventListener('click',()=>enableDropDown1())

    const dropdown2 = document.querySelector('.list2')
    const enableDropDown2 = () =>{
        dropdown2.firstChild.classList.toggle('visible')
    }
    dropdown2.addEventListener('click',()=>enableDropDown2())

    const dropdown3 = document.querySelector('.list3')
    const enableDropDown3 = () =>{
        dropdown3.firstChild.classList.toggle('visible')
    }
    dropdown3.addEventListener('click',()=>enableDropDown3())

    const dropdown4 = document.querySelector('.list4')
    const enableDropDown4 = () =>{
        dropdown4.firstChild.classList.toggle('visible')
    }
    dropdown4.addEventListener('click',()=>enableDropDown4())

    const dropdown5 = document.querySelector('.list5')
    const enableDropDown5 = () =>{
        dropdown5.firstChild.classList.toggle('visible')
    }
    dropdown5.addEventListener('click',()=>enableDropDown5())
</script>